$color:	rgb(50, 205, 50);
body{
    background-color: rgb(152, 251, 152);
     margin: 0;
  padding: 0;
}
ul {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: $color;
}
ul a{
    align-self: center;
    color:black;
    text-decoration: none;
    font-size:25px;
    padding-left:25px;
    padding-right:25px;
}
ul a:hover {
  background-color:rgb(50, 72, 153);
  border-radius: 10px;
}

.f1{
    padding-left:25px;
    text-align: center;
    color:black;
}