.darkmode {
  background-color: #4d4d4d;
}
.darkmode .navbar {
  background-color: #383838;
}
.darkmode a {
  color: #d3d3d3;
}
.darkmode .hover:hover {
  background-color: #9e9e9e;
  color: #d3d3d3;
}
.darkmode .dropdown-content {
  background-color: #8b8b8b;
}
.darkmode .dropdown-content a {
  color: #d3d3d3;
}
.darkmode #jew img {
  fill: #383838;
}
.darkmode .card {
  background-color: #8b8b8b;
  color: #4d4d4d;
}
.darkmode .forms {
  background-color: #4d4d4d;
}
.darkmode .card {
  background-color: #6e6e6e;
  color: #9e9e9e;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  height: 450px;
  background-color: #8b8b8b;
  color: black;
  text-align: center;
  border-radius: 5px;
}
.card img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}
.card p {
  font-size: 18px;
  width: auto;
  height: 100px;
  overflow: auto;
}
.card .container {
  padding: 2px 16px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  height: auto;
  width: auto;
}
.container-card .cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  margin-top: 50px;
  height: 250px;
  background-color: #8b8b8b;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  height: auto;
  width: auto;
}

.card:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.wrapping {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 650px;
  justify-content: space-between;
}

.contactform {
  margin-top: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactform .forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #9e9e9e;
  width: 550px;
  height: 550px;
}
.contactform textarea {
  height: 100px;
  max-height: 200px;
  width: 370px;
}
.contactform .input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 350px;
  height: auto;
}
.contactform label {
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.contactform h1, .contactform p, .contactform h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.contactform .send {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  border: none;
  cursor: pointer;
  align-self: center;
}

.greedy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
}

.greedy2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.greedy2 p {
  font-size: 20px;
  width: 350px;
}

.buttoning {
  background-color: lightskyblue;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-content: baseline;
}

.landing {
  width: 550px;
  height: 425px;
  border-radius: 15px;
}

.look {
  display: flex;
  flex-wrap: wrap;
  background-color: #4d4d4d;
  color: #9e9e9e;
  width: -moz-fit-content;
  width: fit-content;
}

.tuff {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .wrapping {
    flex-direction: column;
    width: 200px;
  }
  .wrapping a {
    font-size: 20px;
  }
  .navbar a {
    font-size: 20px;
  }
  .adding {
    top: 93%;
    left: 92%;
  }
  .contactform {
    margin-top: 125px;
  }
}
@media only screen and (min-width: 992px) {
  .adding {
    top: 93%;
    left: 95%;
    right: 0;
    bottom: 0;
  }
}
.wrapping {
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .adding {
    top: 96%;
    left: 94%;
    bottom: 0;
    right: 0;
  }
}/*# sourceMappingURL=style2.css.map */