$color1: #d3d3d3;
$color2:#4d4d4d;
$color3:#9e9e9e;
$color4:#000000;
$color5:#8f7a61;
// main body
body{
    background-color:$color1;
    margin: 0;
    padding: 0;
    height:100vh;
    width:100vw;
}
// navbar styles
.navbar{
   background-color:$color3;
   position:sticky;
   height:4.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
    overflow: hidden;
    padding-right:25px;
    padding-left:25px;
    color:$color2;
}
a{
    align-self: center;
    text-decoration: none;
    font-size:30px;
    padding-left:25px;
      color:$color4;
    padding-right:25px;
    transition: 300ms;
}
.hover:hover {
  background-color:$color1;
  border-radius: 10px;
  color: $color4;
  text-decoration: none;
}

.dropbtn {
    align-self: center;
    color:$color2;
    text-decoration: none;
    font-size:30px;
    padding-right:30px;
    text-decoration: none;
}
.dropdown-content {
    display:none;
    border-radius:10px;
    text-align: center;
    position: fixed;
    background-color: $color3;
    width: 195px;
    height:auto;
    text-decoration: none;
}
.dropdown-content .hover:hover {
  align-self:center;
  background-color: $color3;
  color: $color2;
  text-decoration: none;
}
.dropdown.dropdown:hover .dropdown-content {
  display: block;
  transform:translateX(-19%);
  text-decoration: none;
}
//changing mode button
#jew{
  background-color:transparent;
  border:none;
  cursor:pointer;
  height:50px;
  width:50px;
  padding:0;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:sticky;
  right:30px;
  top:12px;

}
#jew img{
  fill:$color3
}
#jew img:last-child{
  display:none;
}
.darkmode #jew img:first-child{
  display:none;
}
.darkmode #jew img:last-child{
  display:block; 
}
// hover animations for darkmode button
#sun:hover {
  animation-name: SunJump;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

#moon:hover {
  animation-name: MoonDip;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

 // animations
@keyframes SunJump {
  0%   {transform:translateY(0%)}
  20%   {transform:translateY(-8%)}
  40%   {transform:translateY(-10%)}
  60%   {transform:translateY(-12%)}
  80%  {transform:translateY(-6%)}
  100%  {transform:translateY(0%)}
}

@keyframes MoonDip {
  0%   {transform:translateY(0%)}
  20%   {transform:translateY(8%)}
  40%   {transform:translateY(10%)}
  60%   {transform:translateY(12%)}
  80%  {transform:translateY(6%)}
  100%  {transform:translateY(0%)}
}

// add button location
.adding{
  position: fixed;
  top:90%;
  left:93.5%;
  right:0;
  bottom:0;
  border-radius: 25%;
  border:none;
  cursor: pointer;
  height:60px;
  width:60px;
}
.jew2 {
  display:none;
}


//pop up box
.boxy{
  opacity:0;
  position:fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  transition: all 0.3s ease-in-out;
  z-index:-1;
  backdrop-filter: blur(8px);

  display:flex;
  align-items:center;
  justify-content: center;

}
.boxy.open{
  opacity: 1;
  z-index: 999;
}
.boxy-inner {
  display:flex;
  flex-direction: column;
  background-color:white;
  border-radius: 5px;
  padding: 15px 25px;
  text-align:center;
  width: fit-content;
  height:fit-content;
  
  .lab{
    font-size:25px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
    textarea{
    height:100px;
    max-height:200px;
    max-width: 500px;
    width:400px;
  }
  .input{
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border-radius: 5px;
    width:auto;
    height:auto;
  }
}

.submitbtn{
  margin-top:15px;
  padding:10px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  width:100px;
  height:50px;
  align-self:center;
}
