$color1: #EAE0D5;
$color2:#C6AC8F;
$color3:#5E503F;
$color4:#493d2f;
$color5:#8f7a61;
// darkmode styles
.darkmode{
    background-color:$color3;
    .navbar{
      background-color:$color4;
}
a{
      color:$color1;
}
.hover:hover{
  background-color:$color3;
  color:$color1;
}
.dropdown-content{
    background-color:$color5;
    a{
      color:$color1;
    }
}
#jew img{
  fill:$color4;
}
.card{
    background-color:$color5;
    color:$color2;
}
}

//cards
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  height:auto;
  max-height: 450px;
  background-color:$color4;
  color:$color2;
  text-align: center;
  border-radius: 5px;
  img{
    height:250px;
    width: 100%;
    border-radius: 5px;
  }
  p{
    font-size:18px;
    width: auto;
    height:100px;
    overflow: auto;
}
.container {
  padding: 2px 16px;
}
}
.container-cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:30px;
  height:auto;
  width:auto;
}
.card:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  cursor:pointer;
}