body {
  background-color: #C6AC8F;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.darkmode {
  background-color: #5E503F;
}
.darkmode .navbar {
  background-color: #493d2f;
}
.darkmode a {
  color: #EAE0D5;
}
.darkmode .hover:hover {
  background-color: #5E503F;
  color: #EAE0D5;
}
.darkmode .dropdown-content {
  background-color: #8f7a61;
}
.darkmode .dropdown-content a {
  color: #EAE0D5;
}
.darkmode #jew img {
  fill: #493d2f;
}

.navbar {
  background-color: #5E503F;
  position: sticky;
  height: 4.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 25px;
  padding-left: 25px;
  color: #C6AC8F;
}

a {
  align-self: center;
  text-decoration: none;
  font-size: 30px;
  padding-left: 25px;
  color: #C6AC8F;
  padding-right: 25px;
  transition: 300ms;
}

.hover:hover {
  background-color: #EAE0D5;
  border-radius: 10px;
  color: #5E503F;
  text-decoration: none;
}

.dropbtn {
  align-self: center;
  color: #C6AC8F;
  text-decoration: none;
  font-size: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  background-color: #EAE0D5;
  width: 195px;
  height: auto;
  text-decoration: none;
}

.dropdown-content .hover:hover {
  align-self: center;
  background-color: #5E503F;
  color: #C6AC8F;
  text-decoration: none;
}

.dropdown.dropdown:hover .dropdown-content {
  display: block;
  transform: translateX(-19%);
  text-decoration: none;
}

#jew {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  right: 30px;
  top: 12px;
}

#jew img {
  fill: #5E503F;
}

#jew img:last-child {
  display: none;
}

.darkmode #jew img:first-child {
  display: none;
}

.darkmode #jew img:last-child {
  display: block;
}

#sun:hover {
  animation-name: SunJump;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

#moon:hover {
  animation-name: MoonDip;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes SunJump {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-8%);
  }
  40% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(-12%);
  }
  80% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes MoonDip {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(8%);
  }
  40% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(12%);
  }
  80% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(0%);
  }
}
.adding {
  position: fixed;
  top: 93%;
  left: 96.5%;
  right: 0;
  bottom: 0;
  border-radius: 25%;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.jew2 {
  display: none;
}

.boxy {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxy.open {
  opacity: 1;
  z-index: 999;
}

.boxy-inner {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 15px 25px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.boxy-inner .lab {
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.boxy-inner textarea {
  height: 100px;
  max-height: 200px;
  max-width: 500px;
  width: 400px;
}
.boxy-inner .input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.submitbtn {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  align-self: center;
}/*# sourceMappingURL=style.css.map */